#selectedSpells {
  height: 280px;
  float: left;
  width: 500px;
  margin-right: 15px;
  border: solid thin black;
  padding: 10px;
}

li[data-spell] span {
  cursor: pointer;
}

.step[data-step='2'] {
  height: 340px;
}