.lwBackCoverTitle {
  text-align: center;
  font-weight: bold;
}

.lwAttribute {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.lwDice {
  height: 21px;
}

.lwChoiceHidden {
  display: none;
}

.lwKaiDisciplines label {
  width: 160px;
  display: inline-block;
}