body {
  background-color: black;
  font-size: 18px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

#MainContent {
  width: 1002px;
  margin: 0 auto 0 auto;
  height: 100%;
}

#left-out {
  width: 50%;
  float: left;
  margin-right: -250px;
}

#left-in {
  margin-right: 250px;
}

#gamebookContent {
  width: 600px;
  position: relative;
  z-index: 10;
}

#serverRestart {
  float: left;
  width: 225px;
  position: absolute;
  margin-left: 43px;
}

#gamebookRewards {
  height: 600px;
  float: right;
  width: 330px;
}
#earnedGamebookRewards, #unearnedGamebookRewards {
  display: none;
}

#earnedGamebookRewards img, #unearnedGamebookRewards img {
  width: 100px;
  height: 100px;
}

#earnedGamebookRewards .title, #unearnedGamebookRewards .title {
  font-size: 22px;
  font-weight: bold;
}

#unearnedGamebookRewards + #earnedGamebookRewards {
  margin-top: 40px;
}

#unearnedGamebookRewards img {
  cursor: pointer;
}
#unearnedGamebookRewards img.noDescription {
  cursor: default;
}
#gamebookRewards img {
  margin: 5px;
}
#gamebookRewards img.selected {
  background-color: rgba(12,255,0,0.3);
}
#unearnedDescription {
  margin: 15px 0px;
  height: 40px;
}

#right-out {
  width: 311px;
  float: right;
}

h1, h2, br.clear {
  clear: both;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#main {
  padding: 10px 30px;
  color: black;
  min-height: 690px;
  position: relative;
}

div.bookItem+h2 {
  padding-top: 15px;
}

#pageTitle {
  margin: 0 270px 0 270px;
}

#booklist-container h2 {
  padding-bottom: 0;
}

#booklist-container > div + div {
  margin-top: 10px;
}

div.bookItem {
  width: 153px;
  text-align: center;
  height: auto;
  padding-top: 10px;
  vertical-align: top;
  display: inline-block;
}

div.bookItem img {
  width: 100px;
  margin: 0 25px 10px 25px;
}

div.bookItem img.disabled {
  opacity: 0.5;
}

#ForumMenu a, #ForumMenu .link {
  cursor: pointer;
  color: #ffe27d;
}

#ForumMenu a:hover, #ForumMenu .link:hover {
  text-decoration: underline;
}

#regform input, #regform label {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.errorMessage {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

#regform label {
  text-align: center;
  margin-bottom: 5px;
  color: white;
}

#regform input {
  margin-bottom: 12px;
}

#languageSelection {
  width: 160px;
  z-index: 1;
  margin-right: 55px;
  float: right;
  position: absolute;
  right: 0;
}

#languageSelectionSelected {
  cursor: default;
  margin-left: 10px;
}

#languageSelectionMain {
  text-align: left;
  display: inline-block;
}

#languageSelectionOptions, #languageSelectionMain {
  width: 100%;
  text-align: left;
}

#languageSelectionMain:hover #languageSelectionOptions {
  display: inherit;
}

.flag_hu {
  background-image: url('../img/flag/hu.png');
}
.flag_en {
  background-image: url('../img/flag/en.png');
}
.flag_pt-pt {
  background-image: url('../img/flag/pt-pt.png');
}
.flag_pt-br {
  background-image: url('../img/flag/pt-br.png');
}

#languageSelectionMain li:hover {
  background-color: darkred;
}

#languageSelectionMain li {
  padding: 0 5px 0 5px;
}

#languageSelectionOptions, #languageSelectionOptions .languageSelected {
  display: none;
}

#languageSelectionOptions li {
  cursor: pointer;
}

#languageSelectionOptions li div, #languageSelectionSelected div {
  width: 24px;
  height: 12px;
  display: inline-block;
}

.languageSelected {
  display: none;
}

#ForumMenu li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

#accessLogs a, #logArchives a, #saveGameFiles a {
  color: black;
  line-height: 1.2em;
}

#accessLogs br+h1 {
  margin-top: 20px;
}

img.bordered {
  background: url(../../resources/img/border/tl.png) no-repeat,
    url(../../resources/img/border/tr.png) 100% 0 no-repeat,
    url(../../resources/img/border/bl.png) 0 100% no-repeat,
    url(../../resources/img/border/br.png) 100% 100% no-repeat,
    url(../../resources/img/border/t.png) repeat-x,
    url(../../resources/img/border/b.png) 0 100% repeat-x,
    url(../img/border/l.png) repeat-y,
    url(../../resources/img/border/r.png) 100% 0 repeat-y;
  padding: 3px;
}

#Footer {
  font-size: 16px;
}

#settings-recording {
  padding-bottom: 20px;
}

#settings-recording a {
  color: black;
  font-weight: bold;
}

#settings-container h3 {
  font-size: 25px;
  border-bottom: 3px #ffe4c4 dotted;
  padding-bottom: 4px;
}

#settings-container>div {
  margin-top: 10px;
}

#settings-container>div+h3 {
  margin-top: 15px;
}

.settings-radio-option {
  margin-top: 5px;
}

.settings-buttons {
  border-top: 3px #ffe4c4 dotted;
  padding-top: 5px;
}

.settings-inverted-checkbox {
  display: none;
}

#rules {
  line-height: 22px;
}

#rules h1 {
  padding-bottom: 10px;
}

#rules p+h1 {
  padding-top: 15px;
}

#rules a {
  color: black;
  font-size: 20px;
}

#bookRules h1.bookTitle {
  font-style: normal;
  font-size: 30px;
}

#bookRules h1 {
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
}

#bookRules p+h1 {
  padding-top: 20px;
}

#bookRules h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 650px;
  margin: 0 auto;
  text-transform: uppercase;
}

#bookRules h2 .attribute {
  text-transform: none;
}

#bookRules h3 {
  text-align: center;
  padding: 15px 0;
  font-style: italic;
  font-size: 20px;
}

#bookRules p {
  line-height: 20px;
}

#bookRules p+p {
  padding-top: 10px;
}

#bookRules p+ol {
  padding-top: 10px;
}

#bookRules ol {
  list-style-type: decimal;
  margin-left: 21px;
  line-height: 20px;
}

#bookRules .attribute {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

#logArchives a {
  display: inline-block;
  width: 100px;
}

#version {
  text-align: center;
}

ul#acknowledgementList {
  margin: 10px 0;
}

ul#acknowledgementList li {
  display: inline-block;
  margin-right: 15px;
}

#memoryUsage {
  width: 425px;
  display: inline-block;
}
#authTokens {
  display: inline-block;
  vertical-align: top;
}
#memoryUsage table {
  margin-bottom: 20px;
}
#memoryUsage table tr td + td {
  width: 100px;
  text-align: right;
}

#accessLogs {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
}
#saveGameFiles {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

#saveGameFiles a + h2 {
  margin-top: 15px;
}

.acknowledgementColumn {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.roleTitle {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.roleHolder {
  text-align: center;
}

.roleHolder + .roleTitle {
  padding-top: 15px;
}

.mainRewardBox img {
  width: 100px;
  height: 100px;
}

.mainRewardBox {
  width: 100px;
  height: 122px;
  position: fixed;
  top: 90px;
  left: 90px;
  text-align: center;
  background-image: url("../img/scroll.png");
  background-position: -100px;
  padding: 5px 5px 10px;
  border: 3px double #DC6103;
  color: black;
  display: none;
}

.feedbackBox {
  width: 350px;
  position: fixed;
  top: 90px;
  left: 50%;
  text-align: center;
  background-image: url("../img/scroll.png");
  background-position: -100px;
  padding: 5px 5px 10px;
  border: 3px double #DC6103;
  color: black;
  margin-left: -175px;
  z-index: 10;
  display: none;
}

dd {
  margin-left: 25px;
  margin-bottom: 10px;
}

dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.sortingActive .sortToggle {
  background: url("../../resources/img/sort-white.png");
  background-size: 20px;
}
.sortToggle {
  background: url("../../resources/img/sort-black.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.sortingActive .bookItem .bookTitle {
  display: none;
}
.sortingActive .bookItem + .bookItem {
  margin-left: -144px;
}
.sortingActive .bookItem + .bookItem + .bookItem + .bookItem + .bookItem + .bookItem + .bookItem + .bookItem + .bookItem + .bookItem + .bookItem {
  display: none;
}
.sortingActive .bookItem {
  margin-left: 0px;
  text-align: left;
}
.sortingActive .bookItem img {
  width: auto;
  height: 100px;
}

.sortingActive h2 {
  cursor: pointer;
}
.sortingActive a {
  cursor: default;
}

.ui-sortable-placeholder {
  background-color: rgba(255,0,0,0.3);
  visibility: visible !important;
}

