body {
  color: white;
}

a {
  color: #ffe27d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0px;
  margin: 0px;
  background: url('../img/background.png') 0;
  font-family: Garamond, "Times New Roman", Courier, serif;
}

img {
  border: 0px;
}

#BodyTable {
  width: 100%;
  table-layout: fixed;
}

#BodyTable tr td {
  vertical-align: top;
}

#LeftSideTable {
  background: url("../img/fejlecb.png") top right no-repeat;
}

#BalKozepso {
  background: url("../img/balra.png") top right no-repeat;
}

#BalCsik {
  background: url("../img/keret_balra.png") top left no-repeat,
    url("../img/keret_bal.png") top left;
}

#RightSideTable {
  background: url("../img/fejlecj.png") bottom left no-repeat;
}

#JobbKozepso {
  background: url("../img/jobbra.png") top left no-repeat;
}

#JobbCsik {
  background: url("../img/keret_jobbra.png") top left no-repeat,
    url("../img/keret_jobb.png") top left;
}

#TableHeader {
  background-image: url("../img/fejleck.png");
  height: 230px;
}

#MainContent {
  background-image: url("../img/scroll.png");
}

#BottomCloser {
  background: url("../img/keret_also.png") no-repeat;
  height: 29px;
}

#ForumGoBack {
  height: 60px;
  width: 370px;
  margin-left: 340px;
  margin-top: 30px;
}

#ForumGoBack img {
  width: 370px;
  height: 60px;
}

#ForumGoMain {
  height: 42px;
  width: 145px;
  margin-left: 451px;
  margin-top: 0px;
}

#ForumGoMain img {
  width: 145px;
  height: 42px;
}

#ForumMenu {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  line-height: 26px;
  font-size: 20px;
  position: relative;
}

div#Footer {
  width: 1060px;
  text-align: center;
  vertical-align: middle;
  padding-top: 36px;
  margin-bottom: 15px;
}

div#Footer>span {
  display: block;
}

div#Footer span#FooterInfo {
  color: yellow;
}

div#Footer span#FooterInfo a {
  color: #ffcc00;
  text-decoration: underline;
}

div#Footer span#FooterCompatibility {
  color: #999999;
}

#Toggler {
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: none;
}

.pointer {
  cursor: pointer;
}

.TemaHatter {
  margin-left: auto;
  margin-right: auto;
  width: 938px;
}

.TemakTop {
  background: url('../img/bg-felso.png') top no-repeat;
  height: 21px;
  margin-top: 20px;
}

.TemakBottom {
  background: url('../img/bg-also.png') top no-repeat;
  margin-bottom: 30px;
  height: 21px;
}

.TemakMiddle {
  background: url('../img/bg-kozepso.png') top repeat-y;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 938px;
  margin-left: auto;
  margin-right: auto;
}

.TemakMiddleText {
  margin-left: 30px;
  margin-right: 30px;
}

.TemakSmallTop {
  background: url('../img/bg-felsos.png') top left no-repeat;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  padding-top: 20px;
  margin-top: 10px;
}

.TemakSmallBottom {
  background: url('../img/bg-alsos.png') top left no-repeat;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 21px;
}

.TemakMiddleSmall {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bg-kozepsos.png') top left repeat-y;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.TemakMiddleSmallText {
  margin-left: 30px;
  margin-right: 30px;
}

.TemakMiddleSmallText p {
  text-indent: -20px;
  margin-bottom: 0px;
  margin-top: 3px;
  margin-left: 20px;
}

.TemakMiddleSmallText form {
  text-align: center;
}

th.TemaBalSzel {
  background: url("../img/bg-balsav.png") top right repeat-y;
}

th.TemaJobbSzel {
  background: url("../img/bg-jobbsav.png") top left repeat-y;
}

table.TemaTable {
  color: white;
}

table.TemaTable tr.bejegyzes td:first-child {
  background: url("../img/bordob.png");
}

table.TemaTable tr.bejegyzes td:first-child+td,table.TemaTable tr.bejegyzes td:first-child+td+td
  {
  background: url("../img/bordok.png");
}

table.TemaTable tr.bejegyzes td:first-child+td+td+td {
  background: url("../img/bordoj.png") right;
}

table.TemaTable tr.bejegyzes:hover td:first-child {
  background: url("../img/bordobv.png");
}

table.TemaTable tr.bejegyzes:hover td:first-child+td,table.TemaTable tr.bejegyzes:hover td:first-child+td+td
  {
  background: url("../img/bordokv.png");
}

table.TemaTable tr.bejegyzes:hover td:first-child+td+td+td {
  background: url("../img/bordojv.png") right;
}

table.TemaTable td {
  color: white;
  padding-left: 4px;
  padding-bottom: 2px;
}

tr.TemaHeader th:first-child+th,tr.TemaHeader2 th:first-child {
  background: url("../img/bg-tema-1.png");
}

tr.TemaHeader th:first-child+th+th,tr.TemaHeader th:first-child+th+th+th
  {
  background: url("../img/bg-tema-3.png");
}

tr.TemaHeader th:first-child+th+th+th+th,tr.TemaHeader2 th:first-child+th
  {
  background: url("../img/bg-tema-4.png") right;
}

tr.TemaHeader2 th:first-child+th {
  font-weight: normal;
}

tr.separator {
  height: 3px;
  background: url("../img/bg-divider.png") repeat-x;
}

.TemaBalSzel,.TemaJobbSzel {
  width: 24px;
}

.TemaTemak {
  width: 440px;
}

.TemaUzenetek {
  width: 90px;
}

.TemaUtolsoUzenet {
  width: 210px;
}

.TemaUtolsoNev {
  width: 150px;
}

/* Tma */
table.TemaTable tr td:first-child {
  
}

/* zenet */
table.TemaTable tr td:first-child+td,th.TemaUzenetek {
  text-align: right;
}

/* Utols zenet */
table.TemaTable tr td:first-child+td+td {
  text-align: center;
}

/* Utols nv */
table.TemaTable tr td:first-child+td+td+td {
  text-align: center;
}

tr.TemaHeader a,tr.TemaHeader2 {
  color: #ffc90e;
}

.privat {
  text-decoration: line-through;
}

.unreadmsg a {
  color: #AA0000;
}

th a.OpenCloseGroup {
  color: #ffcc00;
  text-decoration: none;
  cursor: pointer;
}

#profileform {
  text-align: left;
  margin-left: 90px;
}

#profileform input[type=text],#userinfoform input[type=text] {
  width: 200px;
}

#userinfoform {
  text-align: left;
}

#userinfoform textarea {
  width: 440px;
}

#KerdesValasz {
  text-align: center;
}

#KerdesValasz p.valaszcim {
  font-weight: bold;
}

#Error {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #00ff00;
}

table.kerdoivres {
  margin-left: auto;
  margin-right: auto;
}

table.kerdoivres td:first-child {
  text-align: right;
}

#postform textarea {
  width: 90%;
}

.errorlength {
  color: red;
  font-weight: bold;
}

a.clickablelink,#smileyk img {
  cursor: pointer;
  text-decoration: none;
}

#smileyk,#makrok {
  display: none;
  text-align: center;
}

#MainContent>div.HszTop:first-child {
  margin-top: 25px;
}

.HszTop {
  background-image: url('../img/hsz-felso.png');
  height: 5px;
  width: 938px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.HszHeader {
  background-image: url('../img/hsz-header.png');
  width: 918px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.HszHeader1 {
  width: 495px;
  float: left;
}

.HszHeader2 {
  width: 423px;
  float: left;
  text-align: right;
}

.HszContent {
  background-image: url('../img/hsz-content.png');
  width: 918px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.HszBottom {
  background-image: url('../img/hsz-also.png');
  height: 4px;
  width: 938px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

div.turnpagef a,div.turnpageb a {
  color: #2f0808;
}

div.turnpagef,div.turnpageb {
  text-align: center;
  font-weight: bold;
  color: #2f0808;
}

div.turnpagef {
  margin-bottom: 10px;
}

div.turnpageb {
  margin-bottom: 25px;
}

span.curpage {
  font-size: 20px;
  color: #2f0000;
}

#elonezetC {
  display: none;
  margin-top: 15px;
}

div.valasz {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

.kerdeskep {
  text-align: right;
}

.kerdeskep .title,.kerdes .title {
  text-align: center;
  padding-bottom: 35px;
}

.voteImage {
  vertical-align: middle;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 100px;
}

.percentage {
  width: 100px;
  height: 22px;
  margin-right: 158px;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  background-image: url("../img/votebar.png");
  background-repeat: repeat-y;
  border: thin #FF8000 solid;
  border-radius: 5px;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.8) inset;
}

.wideImage {
  padding-right: 270px;
}

.PmTop {
  background: url('../img/bg-felso.png') top no-repeat;
  height: 21px;
  margin-top: 20px;
}

.PmHatter {
  margin-left: auto;
  margin-right: auto;
  width: 938px;
}

.PmBottom {
  background: url('../img/bg-also.png') top no-repeat;
  margin-bottom: 30px;
  height: 21px;
}

th.PmBalSzel {
  background: url("../img/bg-balsav.png") top right repeat-y;
}

th.PmJobbSzel {
  background: url("../img/bg-jobbsav.png") top left repeat-y;
}

table.PmTable {
  color: white;
}

table.PmTable tr.bejegyzes td:first-child {
  background: url("../img/bordob.png");
}

table.PmTable tr.bejegyzes td:first-child+td,table.PmTable tr.bejegyzes td:first-child+td+td,table.PmTable tr.bejegyzes td:first-child+td+td+td
  {
  background: url("../img/bordok.png");
}

table.PmTable tr.bejegyzes td:first-child+td+td+td+td {
  background: url("../img/bordoj.png") right;
}

table.PmTable tr.bejegyzes:hover td:first-child {
  background: url("../img/bordobv.png");
}

table.PmTable tr.bejegyzes:hover td:first-child+td,table.PmTable tr.bejegyzes:hover td:first-child+td+td,table.PmTable tr.bejegyzes:hover td:first-child+td+td+td
  {
  background: url("../img/bordokv.png");
}

table.PmTable tr.bejegyzes:hover td:first-child+td+td+td+td {
  background: url("../img/bordojv.png") right;
}

table.PmTable td {
  color: white;
  padding-left: 4px;
  padding-bottom: 2px;
}

tr.PmHeader th:first-child+th {
  background: url("../img/bg-tema-1.png");
}

tr.PmHeader th:first-child+th+th,tr.PmHeader th:first-child+th+th+th,tr.PmHeader th:first-child+th+th+th+th
  {
  background: url("../img/bg-tema-3.png");
}

tr.PmHeader th:first-child+th+th+th+th+th {
  background: url("../img/bg-tema-4.png") right;
}

.PmBalSzel,.PmJobbSzel {
  width: 24px;
}

.PmTema {
  width: 300px;
}

.PmFelado,.PmCimzett {
  width: 190px;
}

.PmDatum {
  width: 190px;
}

.PmTorles {
  width: 20px;
}

/* Tma */
table.PmTable tr.bejegyzes td:first-child {
  
}

/* Felad */
table.PmTable tr.bejegyzes td:first-child+td {
  text-align: center;
}

/* Cmzett */
table.PmTable tr.bejegyzes td:first-child+td+td {
  text-align: center;
}

/* Dtum */
table.PmTable tr.bejegyzes td:first-child+td+td+td {
  text-align: center;
}

div#konyvlista div {
  float: left;
  width: 160px;
}

div#clear {
  clear: both;
}

form#konyvhibajelentes {
  width: 100%;
}

textarea#hibak {
  height: 400px;
  width: 600px;
}

div#konyvlista div {
  float: left;
}

div.hibakonyvlista {
  float: left;
  width: 32%;
  text-align: center;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

div.hibakonyvlista a,div.centered a {
  cursor: pointer;
}

div.hibak {
  text-align: justify;
  display: none;
}

div.centered {
  text-align: center;
}

img.centered {
  margin-left: 201px;
}

div.hibak div.TemakMiddleSmallText h1 {
  margin-top: 0px;
  color: #ffe27d;
}

div#velemeny_fo {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2f0808;
}

div#velemeny_lista {
  display: none;
}

#velemeny {
  width: 99%;
  height: 150px;
}

#archtitle {
  font-weight: bold;
  font-size: 25px;
}

.cyoavalasztasilehetoseg {
  text-align: right;
  font-style: italic;
}