body {
  color: white;
}

a {
  color: #ffe27d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0px;
  margin: 0px;
  background: url('../img/background.png') top;
  font-family: Garamond, "Times New Roman", Courier, serif;
}

img {
  border: 0px;
}

#BodyTable {
  width: 100%;
  table-layout: fixed;
}

#BodyTable tr td {
  vertical-align: top;
}

#LeftSideTable {
  background: url("../img/fejlecb.png") top right no-repeat;
}

#BalKozepso {
  background: url("../img/balra.png") top right no-repeat;
}

#BalCsik {
  background: url("../img/keret_balra.png") top left no-repeat,
    url("../img/keret_bal.png") top left;
}

#RightSideTable {
  background: url("../img/fejlecj.png") bottom left no-repeat;
}

#JobbKozepso {
  background: url("../img/jobbra.png") top left no-repeat;
}

#JobbCsik {
  background: url("../img/keret_jobbra.png") top left no-repeat,
    url("../img/keret_jobb.png") top left;
}

#TableHeader {
  background-image: url("../img/fejleck.png");
  height: 230px;
}

#MainContent {
  background-image: url("../img/scroll.png");
}

#BottomCloser {
  background: url("../img/keret_also.png") no-repeat;
  height: 29px;
}

#ForumGoBack {
  height: 60px;
  width: 370px;
  margin-left: 340px;
  margin-top: 30px;
}

#ForumGoBack img {
  width: 370px;
  height: 60px;
}

#ForumGoMain {
  height: 42px;
  width: 145px;
  margin-left: 451px;
  margin-top: 0px;
}

#ForumGoMain img {
  width: 145px;
  height: 42px;
}

#ForumMenu {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  line-height: 26px;
  font-size: 20px;
  position: relative;
}

div#Footer {
  width: 1060px;
  text-align: center;
  vertical-align: middle;
  padding-top: 36px;
  margin-bottom: 15px;
}

div#Footer>span {
  display: block;
}

div#Footer span#FooterInfo {
  color: yellow;
}

div#Footer span#FooterInfo a {
  color: #ffcc00;
  text-decoration: underline;
}

div#Footer span#FooterCompatibility {
  color: #999999;
}

#Toggler {
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: none;
}

.pointer {
  cursor: pointer;
}

.TemaHatter {
  margin-left: auto;
  margin-right: auto;
  width: 938px;
}

.TemakTop {
  background: url('../img/bg-felso.png') top no-repeat;
  height: 21px;
  margin-top: 20px;
}

.TemakBottom {
  background: url('../img/bg-also.png') top no-repeat;
  margin-bottom: 30px;
  height: 21px;
}

.TemakMiddle {
  background: url('../img/bg-kozepso.png') top repeat-y;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 938px;
  margin-left: auto;
  margin-right: auto;
}

.TemakMiddleText {
  margin-left: 30px;
  margin-right: 30px;
}

.TemakSmallTop {
  background: url('../img/bg-felsos.png') top left no-repeat;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  padding-top: 20px;
  margin-top: 10px;
}

.TemakSmallBottom {
  background: url('../img/bg-alsos.png') top left no-repeat;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 21px;
}

.TemakMiddleSmall {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bg-kozepsos.png') top left repeat-y;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.TemakMiddleSmallText {
  margin-left: 30px;
  margin-right: 30px;
}

.TemakMiddleSmallText p {
  text-indent: -20px;
  margin-bottom: 0px;
  margin-top: 3px;
  margin-left: 20px;
}

.TemakMiddleSmallText form {
  text-align: center;
}

th.TemaBalSzel {
  background: url("../img/bg-balsav.png") top right repeat-y;
}

th.TemaJobbSzel {
  background: url("../img/bg-jobbsav.png") top left repeat-y;
}

tr.separator {
  height: 3px;
  background: url("../img/bg-divider.png") repeat-x;
}

.TemaBalSzel,.TemaJobbSzel {
  width: 24px;
}

.TemaTemak {
  width: 440px;
}

.TemaUzenetek {
  width: 90px;
}

.TemaUtolsoUzenet {
  width: 210px;
}

.TemaUtolsoNev {
  width: 150px;
}

.privat {
  text-decoration: line-through;
}

.unreadmsg a {
  color: #AA0000;
}

th a.OpenCloseGroup {
  color: #ffcc00;
  text-decoration: none;
  cursor: pointer;
}

#profileform {
  text-align: left;
  margin-left: 90px;
}

#Error {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #00ff00;
}

table.kerdoivres {
  margin-left: auto;
  margin-right: auto;
}

table.kerdoivres td:first-child {
  text-align: right;
}

#postform textarea {
  width: 90%;
}

.errorlength {
  color: red;
  font-weight: bold;
}

span.curpage {
  font-size: 20px;
  color: #2f0000;
}

#elonezetC {
  display: none;
  margin-top: 15px;
}

div.valasz {
  text-align: right;
}

.clickable {
  cursor: pointer;
}

.kerdeskep {
  text-align: right;
}

.kerdeskep .title,.kerdes .title {
  text-align: center;
  padding-bottom: 35px;
}

.PmTop {
  background: url('../img/bg-felso.png') top no-repeat;
  height: 21px;
  margin-top: 20px;
}

div.centered {
  text-align: center;
}

img.centered {
  margin-left: 201px;
}

.ornament-mini {
  display: inline-block;
  width: 17px;
  height: 14px;
  background-image: url('../img/orna-mini.png');
}
