p.sectionTitle {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

#mainContent ol li p.inlineImage {
  margin-left: -22px;
}

p.hoverInfo {
  margin-bottom: 0.5em;
}

p.hoverInfo .info {
  display: none;
}

p.hoverInfo img:hover+span.info {
  display: block;
  margin-top: 0.5em;
}

.tmBackTitle {
  text-align: center;
  font-size: 30px;
}

.tmbBackClosure {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
}

.middleTable td {
  vertical-align: middle;
}

.centerDivisorTable td:first-child {
  border-right: 2px black solid;
  padding-right: 7px;
  text-align: right;
}

.centerDivisorTable td+td {
  padding-left: 7px;
}

.horizontalDivider td {
  border-bottom: 2px black solid;
}