.sorSpell {
  width: 50px;
  margin: 20px 20px 0;
  display: inline-block;
}

.sorSpell a {
  color: rgb(156, 13, 14);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.ffMainAttributeValue {
  position: relative;
}

button[data-libra-reset] {
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  display: inline-block;
  border: 1px solid black;
}

[data-libra-reset='skill'] {
  background: rgba(200, 100, 0, 0.3);
}

[data-libra-reset='stamina'] {
  background: rgba(200, 0, 0, 0.3);
}

[data-libra-reset='luck'] {
  background: rgba(0, 100, 200, 0.3);
}

.sorCursesFullWidth {
  padding: 5px;
  width: 923px;
  border: 2px black solid;
  min-height: 100px;
  clear: both;
  margin-top: 20px;
}
