.sorSpell {
  width: 50px;
  margin: 20px 20px 0;
  display: inline-block;
}

.sorSpell a {
  color: rgb(156, 13, 14);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.ffMainAttributeValue {
  position: relative;
}

button[data-libra-curseremoval] {
  float: right;
  border: 1px solid black;
  background: rgba(0, 100, 200, 0.3);
}

button[data-libra-reset] {
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  display: inline-block;
  border: 1px solid black;
  background: rgba(200, 0, 0, 0.3);
}

button[data-libra-reset][disabled],
button[data-libra-curseremoval][disabled] {
  background-color: rgba(200, 200, 200, 0.3);
  color: rgb(75, 75, 75);
}

.sorCursesFullWidth {
  padding: 5px;
  width: 923px;
  border: 2px black solid;
  clear: both;
  margin-top: 20px;
}

.sorCursesFullWidth.removing [data-item-id] {
  color: rgb(156, 13, 14);
  font-weight: bold;
  cursor: pointer;
}

.sorSpellImage {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.sorSpellDescription {
  display: inline-block;
  width: 730px;
  vertical-align: middle;
}

.sorSpellTitle {
  text-align: center;
  line-height: 60px;
  font-size: 50px;
  margin-bottom: 20px;
}

.sorSpellPrice {
  text-align: center;
}

#gnomeHagglingItems {
  margin-left: 15px;
}
#gnomeHagglingItems tr td {
  width: 250px;
}