div.clAdvert {
  border: black solid thin;
  margin-bottom: 0.5em;
  vertical-align: top;
  padding: 20px 5px;
}

div.clColumn {
  vertical-align: top;
  width: 49%;
  display: inline-block;
}

div.clColumn>div {
  border-bottom: thin solid black;
  margin: 0 10px;
  padding-bottom: 10px;
}

div.clColumn>div+div {
  padding-top: 15px;
}

div.clColumn>div div.phone {
  width: 27px;
  height: 19px;
  float: left;
  background-image: url(../../resources/img/misc/phone.png);
  background-size: 22px;
  background-repeat: no-repeat;
}

div.clColumn>div div.dot {
  width: 27px;
  height: 19px;
  float: left;
  background-image: url(../../resources/img/misc/dot.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: -39px -39px;
}