#ff12Weapons input {
  width: 35px;
}

#mainContent th, #bookRules th {
  font-weight: bold;
}

#ff12Weapons td:nth-child(2) {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

#deityAttributes td, #deityAttributes th {
  text-align: center;
  padding-left: 15px;
}


span[data-enemy-armour] {
  display: inline-block;
  width: 90px;
  text-align: center;
}

#bookRules #ff12Weapons {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}