#ff12Weapons input {
  width: 35px;
}

#ff12Weapons th {
  font-weight: bold;
}

#ff12Weapons td + td {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

#ff12Weapons td + td + td {
  text-align: left;
}
