#ff23HuntMapContainer {
  width: 471px;
  position: relative;
  float: left;
  margin-right: 15px;
}

#ff23HuntMap {
  position: relative;
}

#ff23Tiger, #ff23Dog {
  position: absolute;
}

#ff23HuntProcession {
  height: 810px;
}

.gA {
  left: 30px;
}

.gB {
  left: 84px;
}

.gC {
  left: 138px;
}

.gD {
  left: 193px;
}

.gE {
  left: 247px;
}

.gF {
  left: 301px;
}

.gG {
  left: 355px;
}

.gH {
  left: 410px;
}

.g1 {
  top: 30px;
}

.g2 {
  top: 84px;
}

.g3 {
  top: 139px;
}

.g4 {
  top: 194px;
}

.g5 {
  top: 249px;
}

.g6 {
  top: 304px;
}

.g7 {
  top: 358px;
}

.g8 {
  top: 413px;
}

.g9 {
  top: 468px;
}

.g10 {
  top: 523px;
}

.g11 {
  top: 578px;
}

.g12 {
  top: 633px;
}

.gX {
  display: none;
}
