.ff36Fighters {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}

.ff36GroupDesignation {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 8px;
}

.ff36FightersToLose {
  width: 40px;
  margin-right: 15px;
}

.throwResultCell {
  vertical-align: middle !important;
}

.centerToggling {
  width: 138px;
}

.righted {
  text-align: right;
}

.legend {
  width: 230px;
  text-align: center;
}

.throwResult {
  padding-top: 100px;
  -moz-transform: rotate(-90.0deg);
  -o-transform: rotate(-90.0deg);
  -webkit-transform: rotate(-90.0deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  transform: rotate(-90.0deg);
}

table.throwResultCasing {
  margin: 0 auto 15px;
}

table.battleResults th, table.battleResults td {
  padding: 5px 0;
}

table.battleResults th, table.battleResults td {
  width: 30px;
  border: 2px solid black;
  text-align: center;
}

table.battleResults th+th, table.battleResults td+td {
  width: 140px;
}