button[data-spell-skill], button[data-spell-luck] {
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  display: inline-block;
  border: 1px solid black;
  cursor: pointer;
}

button[data-spell-skill] {
  background: rgba(200, 100, 0, 0.3);
}

button[data-spell-luck] {
  background: rgba(0, 100, 200, 0.3);
}
