#satyrExchange {
  margin: 0 0 15px 10px;
}

#satyrExchange td {
  padding-right: 15px;
}

.sor4TenUpRepeatText {
  display: none;
}

.sor4TenUpBoard, .sor4TenUpReport, #sor4TenUpTrigger {
  display: inline-block;
  vertical-align: top;
}

.sor4TenUpReport {
  margin-left: 50px;
}

.sor4TenUpBoard {
  width: 471px;
  position: relative;
  float: left;
  margin-right: 15px;
}

#sor4Dart0, #sor4Dart1 {
  position: absolute;
  display: none;
}

.sor4TenUpProcession {
  height: 807px;
}

.nextThrower {
  display: none;
}

.h0 {
  top: 370px;
}

.h1 {
  top: 338px;
}

.h2 {
  top: 305px;
}

.h3 {
  top: 273px;
}

.h4 {
  top: 241px;
}

.h5 {
  top: 209px;
}

.h6 {
  top: 176px;
}

.h7 {
  top: 144px;
}

.h8 {
  top: 112px;
}

.h9 {
  top: 80px;
}

.w0 {
  left: 56px;
}

.w1 {
  left: 89px;
}

.w2 {
  left: 122px;
}

.w3 {
  left: 155px;
}

.w4 {
  left: 189px;
}

.w5 {
  left: 223px;
}

.w6 {
  left: 255px;
}

.w7 {
  left: 288px;
}

.w8 {
  left: 321px;
}

.w9 {
  left: 355px;
}

.won {
  display: none;
}