<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://zagor.hu/xsd/logback.xsd">
  <property resource="configuration.properties" />

  <appender name="SEPARATED" class="hu.zagor.gamebooks.support.logging.TimeBasedRollingSiftingAppender">
    <discriminator>
      <key>userid</key>
      <defaultValue>base</defaultValue>
    </discriminator>
    <sift>
      <appender name="MYAPPLI_${userid}_SEPARATED" class="ch.qos.logback.core.FileAppender">
        <file>${directory.logs.prod}/log-${userid}.log</file>
        <append>true</append>
        <encoder>
          <pattern>%d{yyyy. MM. dd. HH:mm:ss.SSS} %-5level %4line. %logger{60}.%method\(\) - %msg%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <logger name="hu.zagor.gamebooks.books.saving.xml.DefaultXmlGameStateSaver" level="WARN" />
  <logger name="hu.zagor.gamebooks.books.saving.xml.DefaultXmlGameStateLoader" level="WARN" />
  <logger name="org.apache" level="ERROR" />
  <logger name="org.springframework" level="WARN" />
  <logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO" />
  <root level="DEBUG">
    <appender-ref ref="SEPARATED" />
  </root>
</configuration>
