<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://zagor.hu/xsd/logback.xsd">

  <appender name="SEPARATED" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>userid</key>
      <defaultValue>base</defaultValue>
    </discriminator>
    <sift>
      <appender name="MYAPPLI_${userid}_SEPARATED" class="ch.qos.logback.core.FileAppender">
        <file>/opt/gamebooks/log/log-${userid}.log</file>
        <append>true</append>
        <encoder>
          <pattern>%d{yyyy. MM. dd. HH:mm:ss.SSS} %-5level %4line. %logger{60}.%method\(\) - %msg%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <logger name="org.apache" level="ERROR"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO"/>
  <root level="DEBUG">
    <appender-ref ref="SEPARATED" />
  </root>
</configuration>
