div#gamebookContent .inlineImage img,
div#gamebookContent #cover img {
  max-width: 500px;
  max-height: 670px;
}

div#sectionNumber {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

div#mainContent p, div#backCoverText p, div#mainContent ol, div#mainContent ul,
  div#errorMessage p {
  margin-bottom: 0.5em;
}

div#mainContent, div#backCoverText {
  line-height: 1.4em;
}

div#choice {
  margin-top: 20px;
}

div#choice a, span.takeItem, span.replaceItem {
  color: rgb(156, 13, 14);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

div#choice li {
  margin-bottom: 0.5em;
}

p.end {
  text-align: center;
  font-weight: bold;
}

.handwritten {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.handwritten.closing {
  text-align: right;
}

.italic {
  font-style: italic;
}

#cover {
  text-align: center;
  margin-bottom: 0.5em;
}

div.hr {
  background: -moz-linear-gradient(left, rgba(204, 174, 119, 0) 0%,
    rgba(204, 174, 119, 0.1) 2%, rgba(201, 123, 75, 1) 20%,
    rgba(196, 38, 1, 1) 50%, rgba(201, 120, 72, 1) 80%,
    rgba(204, 174, 119, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(204,
    174, 119, 0)), color-stop(2%, rgba(204, 174, 119, 0.1)),
    color-stop(20%, rgba(201, 123, 75, 1)),
    color-stop(50%, rgba(196, 38, 1, 1)),
    color-stop(80%, rgba(201, 120, 72, 1)),
    color-stop(100%, rgba(204, 174, 119, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(204, 174, 119, 0) 0%,
    rgba(204, 174, 119, 0.1) 2%, rgba(201, 123, 75, 1) 20%,
    rgba(196, 38, 1, 1) 50%, rgba(201, 120, 72, 1) 80%,
    rgba(204, 174, 119, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(204, 174, 119, 0) 0%,
    rgba(204, 174, 119, 0.1) 2%, rgba(201, 123, 75, 1) 20%,
    rgba(196, 38, 1, 1) 50%, rgba(201, 120, 72, 1) 80%,
    rgba(204, 174, 119, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(204, 174, 119, 0) 0%,
    rgba(204, 174, 119, 0.1) 2%, rgba(201, 123, 75, 1) 20%,
    rgba(196, 38, 1, 1) 50%, rgba(201, 120, 72, 1) 80%,
    rgba(204, 174, 119, 0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(204, 174, 119, 0) 0%,
    rgba(204, 174, 119, 0.1) 2%, rgba(201, 123, 75, 1) 20%,
    rgba(196, 38, 1, 1) 50%, rgba(201, 120, 72, 1) 80%,
    rgba(204, 174, 119, 0) 100%); /* W3C */
  height: 2px;
}

p.inlineImage {
  text-align: center;
}

p.inlineImage img {
  background: url(../../resources/img/border/tl.png) no-repeat,
    url(../../resources/img/border/tr.png) 100% 0 no-repeat,
    url(../../resources/img/border/bl.png) 0 100% no-repeat,
    url(../../resources/img/border/br.png) 100% 100% no-repeat,
    url(../../resources/img/border/t.png) repeat-x,
    url(../../resources/img/border/b.png) 0 100% repeat-x,
    url(../../resources/img/border/l.png) repeat-y,
    url(../../resources/img/border/r.png) 100% 0 repeat-y;
  padding: 3px;
}

#userInputSection label {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bold;
  padding-bottom: 9px;
}

#userInputSection input {
  margin: 0 200px;
  width: 200px;
}

#userInputSection form {
  text-align: center;
}

#mainContent ol li {
  list-style-type: decimal;
  margin-left: 22px;
}

#inventory ul+h2 {
  margin-top: 10px;
}

span[data-map], span[data-notes] {
  cursor: pointer;
}

.popupMap {
  display: none;
}

.popupMap img {
  width: 99%;
}

#notes {
  width: 100%;
  height: 98%;
  background-color: inherit;
  font-size: 18px;
  font-family: Garamond, 'Times New Roman', Courier, serif;
  line-height: 25px;
  border: none;
  padding-right: 0;
}

#notes:focus {
  outline: none !important;
  border: none !important;
  -moz-appearance: none;
  -moz-box-shadow: none;
}

#notesDialog {
  text-align: center;
  background-image: url("../../resources/img/scroll.png");
  background-repeat: no-repeat;
  overflow: hidden;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.rawRandomLabel {
  text-align: center;
}

.rawDice {
  height: 21px;
}

.diced61, .diced62, .diced63, .diced64, .diced65, .diced66, .diced51,
  .diced52, .diced53, .diced54, .diced55, .diced41, .diced42, .diced43,
  .diced44 {
  width: 20px;
  height: 21px;
  display: inline-block;
  background-image: url(../../resources/img/dice/diced6.png);
  background-size: 70px;
  margin-left: 5px;
}

.diced61, .diced51, .diced41 {
  background-position: -2px -1px;
}

.diced62, .diced52, .diced42 {
  background-position: -25px -1px;
}

.diced63, .diced53, .diced43 {
  width: 21px;
  background-position: -48px -1px;
}

.diced64, .diced54, .diced44 {
  background-position: -1px -28px;
}

.diced65, .diced55 {
  background-position: -24px -28px;
}

.diced66 {
  width: 21px;
  background-position: -48px -28px;
}

p.centered {
  text-align: center;
}